toDoApp{
	padding-top: 20px;
	display: inline-block;
	text-align: left;
}

input{
	font-size: 20px;
}

ul{
	padding: 0px;
}

li{
	list-style-type: none;
}

newToDo{
	font-family: 'Arial',sans-serif;
}